-var { data } = htmlWebpackPlugin.options
-var header = data.header

header.header
  .container
    nav.menu
      ul
        li
          a(href='about.html')
            | About
        li
          a(href='orbit.html')
            | Orbit reflection
        li
          a(href='airplane.html')
            | Airplane 3D-model
        li
          a(href='test.html')
            | Test
        li
          a(href='hxgn.html')
            | HXGN

