extends ../layout/main

block variables
	-var {data} = htmlWebpackPlugin.options
	-var wrapperClass = 'wrapper'
	-var pageClass = ''
	-var description = ''
	-var page = data.name



block title
	title= page
block description
	meta(name="description", content=description)

prepend css

block header

prepend body

block content
	include ../includes/modules/test3


block footer


block scripts
